body {
  background-color: #fdffff;
}

.mdl-navigation__link {
  color: red;
}

.app-container {
  position: inherit;
  width: 100%;
  height: 3000px;
  background: linear-gradient(rgba(black ,0) 0%, rgba(black, .65) 100%)
}

.scroll-display {
  position: fixed;
  top: 0;
  right: 0;
}

.console-wrap {
  position: fixed;
  width: 100%;
  padding: 10px;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}

.basic-slide {
  height: 600px;
}
